.header {
  width: 100%;
  text-align: center;
}

.initials {
  padding-top: 72px;
  max-height: 188px;
  display: inline-block;
}

.tab-interface {
  height: 50px;
  margin: 0 auto;
  width: 60%;
  max-width: 437px;
  padding-top: 24px;
}

.nav-link-header {
  font-family: droid-sans-mono, fira-mono, Georgia, monospace;
  text-decoration: none;
  float: left;
  width: 33.33%;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0em;
}
